@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
primario: #FBFCEE
secundario: #8dcc6a
terciario: #A3B18A
color biblioteca 1: #494737
color biblioteca 2: #696758

fuente 1: 'Roboto',
fuente 2: 'Lato', 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
html, body{
	height: 100%;
}
body {
	background: #FBFCEE;
}
#contenedor{
	min-height: 100%;
	margin-bottom: -0.5em;
}

/* Header uno */
.barra{
	background: lightgrey;
	color: grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4em;
}
.barra_horario{
	display: flex;
}
.barra_horario p{
	font-family: 'Roboto';
	font-size: 1rem;
}
.barra_redes{
	min-width: 500px;
	display: flex;
	justify-content: flex-end;
	gap: 1.5em;
	position: relative;
	right: 2em;
}
.barra_redes li{
	list-style: none;
}
.barra_redes li a{
	text-decoration: none;
	color: #3b3a3a;
}

/* Header dos */
.segundo_header{
	background: #8dcc6a;
	color: darkgreen;
	display: flex;
	align-items: center;
	padding: 3em;
	position: relative;
	justify-content: center;
}
.logo img {
	width: 5.2em;
}
.logo{
	display: flex;
	position: absolute;
	left: 2em;
}

.texto_nav{
	display: flex;
	min-width: 500px;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 1.2rem;
}


.nombre{
	font-size: 1.2em;

}
.fundacion{
	font-size: 1em;
	position: absolute;
	right: 1em;
	bottom: 0.2em;
}

/* Header tres */

.barra_dos{
	background: #696758;
	display: flex;
	padding: 0.7em;
}
.barra_nav{
	width: 98vw;
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
}
.barra_nav li{
	list-style: none;

}
.barra_nav li a{
	color: white;
	font-family: 'Lato';
	text-transform: uppercase;
}

/* Logo Whatsapp */
.whatsapp{
	width: 3%;
	position: fixed;
	bottom: 2.3em;
	right: 1em;
}
.whatsapp a i{
	color: green;
	font-size: 2.5em;
}

/* section 4 */
.section_cuatro{

}
.section_ultima{
	background: #8dcc6a;
	color: darkgreen;
	display: flex;
	padding: 0.5em;
	width: 100%;
	position: absolute;
	bottom: 0;
	justify-content: space-between;
	margin-bottom: 0.5em;
}


address{
	font-size: 1.1em;
	min-width: 32%;
	font-family: 'Lato';
	font-weight: 500;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
address a{
	color: white;
}

.logo_final img {
	width: 5em;
}
.logo_final{
	width: 7.3%;
}



/* footer */
footer, #push {
	height: 0.5em;
}
.barra_footer{

	background: lightgrey;
	color: grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4em;

}
.barra_f_texto{
	display: flex;
}
.barra_f_texto p{
	font-family: 'Roboto';
	font-size: 1rem;
}
.barra_redes_fin{
	min-width: 500px;
	display: flex;
	justify-content: flex-end;
	gap: 1.5em;
	position: relative;
	right: 2em;
}
.barra_redes_fin li{
	list-style: none;
}
.barra_redes_fin li a{
	text-decoration: none;
	color: #3b3a3a;
}