@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
primario: #FBFCEE
secundario: #8dcc6a
terciario: #A3B18A
color biblioteca 1: #494737
color biblioteca 2: #696758

fuente 1: 'Roboto',
fuente 2: 'Lato', 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
html, body{
	height: 100%;
}
body {
	background: #FBFCEE;
}
#contenedor{
	min-height: 100%;
	margin-bottom: -0.5em;
}

/* Header uno */
.barra{
	background: lightgrey;
	color: grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4em;
}
.barra_horario{
	display: flex;
	width: 80%;
	min-width: 100px;
}
.barra_horario p{
	font-family: 'Roboto';
	font-size: 1em;
}
.barra_redes{
	display: flex;
	justify-content: flex-end;
	gap: 1.5em;
	position: relative;
	right: 2em;
}
.barra_redes li{
	list-style: none;
}
.barra_redes li a{
	text-decoration: none;
	color: #3b3a3a;
}

@media (max-width: 576px) {
	.barra {
		padding: 0.1em;
	}
	.barra_horario{
		
	}
	.barra_redes {
		
	}
}

@media (min-width: 577px) and (max-width: 1000px) {
	.barra{
		padding: 0.2em;
	}

	.barra_horario{
		width: 80%;
	}
	.barra_redes {
		gap: 0.8em;
		position: relative;
		right: 0.5em;
	}
}

/* Header dos */
.segundo_header{
	background: #8dcc6a;
	color: darkgreen;
	display: flex;
	align-items: center;
	padding: 2em;
	position: relative;
	justify-content: center;
}
.logo img {
	width: 5.2em;
}
.logo{
	display: flex;
	position: absolute;
	left: 2em;
}

.texto_nav{
	display: flex;
	min-width: 500px;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 1.2rem;
}


.nombre{
	font-size: 1.2em;

}
.fundacion{
	font-size: 1em;
	position: absolute;
	right: 1em;
	bottom: 0.2em;
}

/* Header tres */

.barra_dos{
	background: #696758;
	display: flex;
	padding: 0.7em;
}
.barra_nav{
	width: 98vw;
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
}
.barra_nav li{
	list-style: none;

}
.barra_nav li a{
	color: white;
	font-family: 'Lato';
	text-transform: uppercase;
}

/* Logo Whatsapp */
.icono_wsp{
	position: fixed;
	color: green;
	background: palegreen;
	font-size: 50px;
	line-height: 30px;
	bottom: 130px;
	right: 40px;
	border-radius: 50px;
	text-align: center;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 100;
}

/* section 4 */
.section_cuatro{

}
.section_ultima{
	background: #8dcc6a;
	color: darkgreen;
	display: flex;
	padding: 0.3em;
	width: 100%;
	position: absolute;
	bottom: 0;
	justify-content: space-between;
	margin-bottom: 0.5em;
}


address{
	font-size: 1.1em;
	min-width: 32%;
	font-family: 'Lato';
	font-weight: 500;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
address a{
	color: white;
}

.logo_final img {
	width: 5em;
}
.logo_final{
	width: 7.3%;
}



/* footer */
footer, #push {
	height: 0.5em;
}
.barra_footer{

	background: lightgrey;
	color: grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4em;

}
.barra_f_texto{
	display: flex;
}
.barra_f_texto p{
	font-family: 'Roboto';
	font-size: 1rem;
}
.barra_redes_fin{
	min-width: 500px;
	display: flex;
	justify-content: flex-end;
	gap: 1.5em;
	position: relative;
	right: 2em;
}
.barra_redes_fin li{
	list-style: none;
}
.barra_redes_fin li a{
	text-decoration: none;
	color: #3b3a3a;
}